<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/11.6.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.6.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyATlRpkANfJp9ar23usoGYnQkqziPEh2oM",
    authDomain: "punten-systeem-de-van-houtte-s.firebaseapp.com",
    projectId: "punten-systeem-de-van-houtte-s",
    storageBucket: "punten-systeem-de-van-houtte-s.firebasestorage.app",
    messagingSenderId: "153865595793",
    appId: "1:153865595793:web:b59c7f759d00a7f77b0830",
    measurementId: "G-KTNCCL76ST"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
